# Koneksi ke server PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=ganti_password_kamu

# Nama database (dibuat otomatis oleh npm run db:init)
PGDATABASE=day7_perpus

# Port server Node.js
PORT=3001
